@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  /* position: relative; */
}

.logo {
  width: 9.59vw;
  height: 17.9vh;
}

.scr-btn {
  padding: 2.2vh 5vh;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.sc-btn {
  padding: 2.2vh 5vh;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.sc-btn-2 {
  padding: 1vh 4.5vh;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.5px;
  color: #4c4c4c;
}


/* NAVBAR */
.navbar {
  height: 18vh;
}


.navbar-nav {
  position: absolute;
  right: 0;
}

.link {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #000000;

}

#login {
  padding: 1.5vh 4vh;
  border-radius: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

#signup {
  padding: 1.5vh 4vh;
  border-radius: 7px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

/* SIGN UP */
.signup-img {
  width: 36vw;
  height: 78vh;
}

.sign-head {
  font-weight: 600;
}

.lbl {
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #8A8A8A;
}
/* INVEST */
.invest-head-comp {
  background: linear-gradient(90deg, #303030 -13.55%, #2a33ff 93.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor: default;
}

/* LOGIN */
.login-img {
  width: 44vw;
  height: 60vh;
}

/* HOME */
.head {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
}

.head-comp {
  cursor: default;
  font-weight: 600;
  background: linear-gradient(174.44deg, #3D4094 67.85%, #853592 79.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}

.sub-head {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #B1B1B1;
}


.sub {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.08em;

  color: #8A8A8A;
}

.login-link {
  text-decoration: none;
  color: blue;
}

.first_img {
  position: absolute;
  right: 7vw;
  top: 3vh;
}

/* RAISE */
.raise-head-comp {
  background: linear-gradient(90deg, #00FFFF -13.55%, #000AFF 93.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor: default;
}

.raise_img {
  width: 35vw;
  height: 45vh;
  position: absolute;
  right: 2vw;
  top: 7vh;
}

.raise-cards {
  width: 100%;
}

/* FOOTER */
.foot {
  background: rgba(118, 123, 255, 0.11);
  height: 110vh;
}

.foot-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #161616;
}

.foot-link {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* letter-spacing: 0.04em; */
  color: #424242;
}

.ext-link {
  color: #424242;
  font-size: 1.3rem;
}

.ext-link:hover {
  color: #000000;
}

.foot-sub {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  /* color: #424242; */
  color: #8A8A8A;
}

.foot-contact {
  font-weight: 600;
}

.foot-cnt {
  color: #686868;
  font-size: 15px;
  font-weight: 400;
}

.foot-cnt:hover {
  cursor: pointer;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 600px) {

  .navbar {
    height: 11vh;
  }

  .logo {
    width: 22.59vw;
    height: 9.9vh;
  }

  .scr-btn {
    padding: 1.5vh 5vh;
  }

  .home {
    height: 90vh;
  }

  .raise {
    height: 80vh;
  }

  .first_img {
    width: 88vw;
    height: 35vh;
    position: absolute;
    right: 4vw;
    top: 56vh;
  }

  .raise_img {
    width: 88vw;
    height: 30vh;
    position: absolute;
    right: 6vw;
    top: 50vh;

  }

  .raise-cards {
    width: 90%;
    margin-left: 2.4vh;
    text-align: center;
  }

  .sign-head {
    text-align: center;
  }

  .sc-btn {
    padding: 1vh 5vh;
  }

  .sc-btn-2 {
    padding: 0.5vh 4.5vh;
    font-size: 7px;
  }


}